@import "../../main.scss";

.drop-down-component {
  position: absolute;
  background-color: white;
  bottom: -125px;
  z-index: 1;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 3px 3px black;

  @include mobile {
    width: 100px;
    right: 10px;
  }

  ul {
    li {
      list-style: none;
      font-size: 18px;
      background-color: hsl(0, 0%, 94%);
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background-color: #ccc;
        cursor: pointer;
      }
    }

    .development {
      background-color: rgb(168, 162, 162);
      color: white;
    }
  }
}
